@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    width: 960px;
    height: 530px;
}

.header1{
    background-color: #1CD1B0;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color:black;
    padding: 10px;
}

h1{
    background-color: #00669F;
    margin:0px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    padding-left: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
}

h2{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    padding-top: 25px;
    margin-bottom: 0px;
}

h3{
    background-color: #00669F;
    color: #FFF9F9;
    font-size: 16px;
    font-weight: lighter;
    padding: 16px;
}

h4{
    width: 129px;
    background: #00669F;
    color: #FFF9F9;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 34px;
    margin-left: 86px;
    margin-right: 86px;
}

footer{
    bottom: 0px;
    width: 1024px;
}

section{
    margin-top: 153px;
    margin-bottom: 150px;
}

article{
    width: 300px;
    height: 529px;
    margin: 18px;
    text-align: center;
}

p{
    margin:119px,17px,104px,16px;
    margin: 16.5px;
    text-align: left;
}

.division2{
    width: 300px;
    height: 336px;
    padding-top: 50px; 
    background-color: #F3F3F3; 
}

img{
    border-radius:60%;
    position: relative;
    top:80px;
}

.fondobatman{
    background-image: url("../img/fondoBatman.png");
    background-size:300px, 193px;
}

.fondobatman2{
    background-image: url("../img/fondoBatman.png");
    background-size:300px, 193px;
}

.fondoharley{
    background-image: url("../img/fondoHarley.png");
    background-size:300px, 193px;
}

.corazoncito{
    position: absolute;
    top: 10px;
    left: 10px;
}